    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>L-EAB에 대하여</h2>
              <br/>
                <p>L-EAB( Lite Elastic Adhesive Bandage)는 <a href="https://www.muellersportsmed.com/sports-medicine-product/athletic-tapes-wraps/tear-light.html">뮬러</a> 테입으로도 잘 알려진 제품 입니다.</p>
                <p>웨이트 리프팅 시 손목이나 손가락에 감아 부상을 방지하는 용도로 쓰이고 있습니다.</p>
                <p>뮬러 사(社)의 제품은 아니지만 CE FDA ISO승인을 받은 좋은 퀄리티의 제품을 대량으로 구매하여 저렴하게 판매합니다.</p>
                 <img src="../img/use.png" style=" max-width: 100%; height: auto;" alt="Responsive image">
                <br/>
                <br/>

        </div>
    </section>
    <section id="about2" class="container content-section text-left">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>#후크 그립 보호</h4>
            <p>후크 그립과 손가락을 위해 특별히 설계되었습니다.바벨, 캐틀벨, 로프, 링 등의 운동 시 상처, 찢어짐, 물집을 방지합니다.
            주요 용도로 CrossFit, 올림픽 역도, Strongman, Powerlifting 및 체조 등에 쓰입니다.</p>
            <br/>
            <h4>#탁월한 유연성</h4>
            <p>특별하게 디자인된 패턴으로 유연성을 지닌 직물은 관절을 자연스럽게 움직일 수 있게 하고 그립과 바에 대한 밀착력을 향상시킵니다.
            여분의 테이프는 손가락 형태로 성형되어  편안함과 기능성 및 진정한 맞춤형 착용감을 경험 할 수 있습니다. </p>
            <br/>
            <h4>#프리미엄 접착제</h4>
            <p>최고 등급의 접착제을 사용됩니다. 테이프는 실내 외, 습도와 온도에 상관 없이 당신이 땀을 흘리는 강렬한 운동을 하는 동안에도 떨어지지 않습니다.</p>
            <br/>
            <h4>#튼튼한 내구성</h4>
            <p>견고한 미끄럼 방지 소재와 직조 패턴으로 피부를 보호합니다. 탄력성이 뛰어나 땀과 쵸크를 흡수하며 무거운 하중을 견딜 수 있습니다.</p>
            <br/>
            <h4>#간편한 사용 및 청결</h4>
            <p>가위가 필요 없으며 손으로 테이프를 찢을 수 있습니다. 통기성이 우수하고 라텍스를 사용하지 않아 알러지가 없으며 제거 시 잔류물을 남기지 않습니다.</p>
            <br/>
        </div>
      </div>
    </section>
