<!DOCTYPE html>
<html>
<meta property="og:image" content="https://leeyc09.github.io/img/type.png"/>
<meta property="og:title" content="L-EAB 1차 공동 구매"/>
<meta property="og:description" content="당신의 엄지를 보호해 줄 Elastic Adhesive Bandage. 단 돈 2,500원. 지금 바로 주문 하세요."/>
<meta property="og:url" content="https://leeyc09.github.io/"/>
<meta property="og:type" content="website"/>
<meta name=description content="당신의 엄지를 보호해 줄 Elastic Adhesive Bandage. 단 돈 2,500원. 지금 바로 주문 하세요."/>
	{% include head.html %}

	<body>
		{% include header.html %}
		{% include about.html %}
		{% include page_content.html %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
